[$ext]
type=aor
max_contacts=1
remove_existing=yes
  
[$ext]
type=auth
auth_type=userpass
username=$ext
password=$password
 
[$ext]
type=endpoint
aors=$ext
auth=$ext
dtls_auto_generate_cert=yes
webrtc=yes
context=internal
disallow=all
allow=opus,ulaw