[phone](!)
type = wizard
accepts_registrations = yes
sends_registrations = no
accepts_auth = yes
sends_auth = no
;has_hint = yes
hint_context = extensions
endpoint/context = internal
endpoint/allow_subscribe = yes
endpoint/allow = !all,ulaw,alaw
endpoint/direct_media = no
endpoint/force_rport = yes
endpoint/rtp_symmetric=yes
endpoint/rewrite_contact=yes
endpoint/moh_suggest = default
endpoint/send_rpid = no
endpoint/send_pai = yes
endpoint/allow_transfer = yes
endpoint/trust_id_inbound = yes
endpoint/trust_id_outbound = yes
endpoint/send_diversion = yes
aor/qualify_frequency = 30
aor/authenticate_qualify = no
aor/remove_existing = yes
aor/minimum_expiration = 60
aor/default_expiration = 120
aor/support_path = yes
