[$ext](phone)
hint_exten = $ext
transport = transport-$transport
endpoint/callerid = "$desc" <$ext>
endpoint/named_call_group=$clst
endpoint/named_pickup_group=$clst
endpoint/media_encryption=sdes
endpoint/media_encryption_optimistic=yes
endpoint/device_state_busy_at = 1
endpoint/mailboxes = $ext@$clst
inbound_auth/username = $ext
inbound_auth/password = $password
aor/max_contacts = 1
