[$ext]
type=aor
max_contacts=1
remove_existing=yes
  
[$ext]
type=auth
auth_type=userpass
username=$ext
password=$password
 
[$ext]
type=endpoint
aors=$ext
auth=$ext
context=internal
callerid="$desc” <$ext>  
webrtc=yes
dtls_private_key=/etc/ssl/private/ssl-cert-sark-customer.key
dtls_cert_file=/etc/ssl/certs/ssl-cert-sark-customer.pem
transport=transport-wss
allow=!all,opus,ulaw,alaw